<html>
    <body>
        <center>
            <h1>Prediction</h1>

            <!-- {%if data==0%}
            <h1>VATT</h1>
            {% endif %}
            {%if data==1%}
            <h1>PITT</h1>
            {% endif %}
            {%if data==2%}
            <h1>KAFF</h1>
            {% endif %}
            {%if data==3%}
            <h1>VATT-PITT</h1>
            {% endif %}
            {%if data==4%}
            <h1>PITT_KAFF</h1>
            {% endif %}
            {%if data==5%}
            <h1>VATT-KAFF</h1>
            {% endif %} -->

            {%if data == 3%}
            <h1>VATT-PITT</h1>  
            <img src='static\setosa.jpg'>  

            {%else%}
            <h1>Iris-versicolor</h1>
            <img src='static\verci.jpg'>
            
            {%endif%}

        </center>
    </body>
</html>
