<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0d-1RcN4yD_nnejlAr39M_0xqElB86Bw8ag&usqp=CAU" alt="Italian Trulli" width="50" height="50" style="padding-left: 5% ; padding-right: 2%;"/>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <form class="d-flex" style="padding-top: 0.5%;">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#" >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Signin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Signup</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Logout</a>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </nav>

      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="padding-bottom: 5%;">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://www.kidpaw.com/images/namebg/prakruthi.jpg" class="d-block w-100" alt="..." height="70%">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://www.kidpaw.com/images/namebg/prakruthi.jpg" class="d-block w-100" alt="..." height="70%">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.kidpaw.com/images/namebg/prakruthi.jpg" class="d-block w-100" alt="..." height="70%">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      </br></br></br>

      <center>
      <b><p style="padding-bottom: 2%;">Prakruti Prediction</p></b>
      </center>
      </br></br>

      <center>
        <b>
          <p>Your Prakruti Type :</p>
          <p style="font-size: 30px;">{{pred}}</p></b>
      </center>
      </br></br></br>

      <form class="row g-2 needs-validation" method="POST", action='/predict'>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <div class="col-md-2 position-relative" style="padding-right: 3%; padding-left: 3%;"></div>
          <label for="validationTooltip04" class="form-label"><b>Body Size</b></label>
          <p>0. Slim</p>
          <p>1. Medium</p>
          <p>2. Large</p>
          <input name="1",  placeholder="1. Enter Option No...."></br></br>
        </div>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="1" value="0">Slim</option>
            <option name="1" value="1">Medium</option>
            <option name="1" value="2">Large</option>
          </select> -->
          <!-- <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Body Weight</b></label>
          <p>0. Low, has difficulty in putting on weight</p>
          <p>1. Medium, can gain & lose weight easily</p>
          <p>2. Overweight, Difficult to lose weight</p>
          <input name="2",  placeholder="2. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="2" value="0">Low, has difficulty in putting on weight</option>
            <option name="2" value="1">Medium, can gain & lose weight easily</option>
            <option name="2" value="2">Overweight, Difficult to lose weight</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Height</b></label>
          <p>0. Tall or short</p>
          <p>1. Average</p>
          <p>2. Thin & sturdy / short & stocky</p>
          <input name="3",  placeholder="3. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="3" value="0">Tall or short</option>
            <option name="3" value="1">Average</option>
            <option name="3" value="2">Thin & sturdy / short & stocky</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Bone Structure</b></label>
          <p>0. Light, small bones, Prominent joints</p>
          <p>1. Medium bone structure</p>
          <p>2. Large, broad shoulders, Heavy bone structure</p>
          <input name="4",  placeholder="4. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="4" value="0">Light, small bones, Prominent joints</option>
            <option name="4" value="1">Medium bone structure</option>
            <option name="4" value="2">Large, broad shoulders, Heavy bone structure</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Complexion</b></label>
          <p>0. Dark complexion, Tans easily</p>
          <p>1. Fair skin, sun burns easily</p>
          <p>2. White, pale, tans evenly</p>
          <input name="5",  placeholder="5. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="5" value="0">Dark complexion, Tans easily</option>
            <option name="5" value="1">Fair skin, sun burns easily</option>
            <option name="5" value="2">White, pale, tans evenly</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>General feel of skin</b></label>
          <p>0. Dry, cool</p>
          <p>1. Smooth, Oily T-zon</p>
          <p>2. Oily, Cold</p>
          <input name="6",  placeholder="6. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="6" value="0">Dry, cool</option>
            <option name="6" value="1">Smooth, Oily T-zone</option>
            <option name="6" value="2">Oily, Cold</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div> 
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Texture of Skin</b></label>
          <p>0. Dry, pigmentation and aging</p>
          <p>1. Freckles, many moles, redness, rashes and acne</p>
          <p>2. Soft, glowing and youthful</p>
          <input name="7",  placeholder="7. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="7" value="0">Dry, pigmentation and aging</option>
            <option name="7" value="1">Freckles, many moles, redness, rashes and acne</option>
            <option name="7" value="2">Soft, glowing and youthful</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Hair Color</b></label>
          <p>0. Dull, black, brown</p>
          <p>1. Red, light brown, yellow</p>
          <p>2. Brown</p>
          <input name="8",  placeholder="8. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="8" value="0">Dull, black, brown</option>
            <option name="8" value="1">Red, light brown, yellow</option>
            <option name="8" value="2">Brown</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Appearance of Hair</b></label>
          <p>0. Dry, Black Knotted, Brittle</p>
          <p>1. Straight, Oily</p>
          <p>2. Thick, Curly</p>
          <input name="9",  placeholder="9. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="9" value="0">Dry, Black Knotted, Brittle</option>
            <option name="9" value="1">Straight, Oily</option>
            <option name="9" value="2">Thick, Curly</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Shape of face</b></label>
          <p>0. Long, angular,Thin</p>
          <p>1. Heart-shaped,pointed chin</p>
          <p>2. Large, round, Full</p>
          <input name="10",  placeholder="10. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="10" value="0">Long, angular,Thin</option>
            <option name="10" value="1">Heart-shaped,pointed chin</option>
            <option name="10" value="2">Large, round, Full</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Eyes</b></label>
          <p>0. Small, active, darting, dark eyes</p>
          <p>1. Medium sized, penetrating, light sensitive eyes</p>
          <p>2. Big, round, beautiful glowing eyes</p>
          <input name="11",  placeholder="11. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="11" value="0">Small, active, darting, dark eyes</option>
            <option name="11" value="1">Medium sized, penetrating, light sensitive eyes</option>
            <option name="11" value="2">Big, round, beautiful glowing eyes</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Eyelashes</b></label>
          <p>0. Scanty eye lashes</p>
          <p>1. Moderate eye lashes</p>
          <p>2. Thick / Fused eye lashes</p>
          <input name="12",  placeholder="12. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="12" value="0">Scanty eye lashes</option>
            <option name="12" value="1">Moderate eye lashes</option>
            <option name="12" value="2">Thick / Fused eye lashes</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Blinking of Eyes</b></label>
          <p>0. ExcessiveBlinking</p>
          <p>1. Moderate blinking</p>
          <p>2. More or less stable</p>
          <input name="13",  placeholder="13. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="13" value="0">ExcessiveBlinking</option>
            <option name="13" value="1">Moderate blinking</option>
            <option name="13" value="2">More or less stable</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Cheeks</b></label>
          <p>0. Wrinkled, Sunken</p>
          <p>1. Smooth, Flat</p>
          <p>2. Rounded, Plump</p>
          <input name="14",  placeholder="14. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="14" value="0">Wrinkled, Sunken</option>
            <option name="14" value="1">Smooth, Flat</option>
            <option name="14" value="2">Rounded, Plump</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Nose</b></label>
          <p>0. Crooked, narrow,Small</p>
          <p>1. Pointed, Average</p>
          <p>2. Rounded, Large open nostrils</p>
          <input name="15",  placeholder="15. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="15" value="0">Crooked, narrow,Small</option>
            <option name="15" value="1">Pointed, Average</option>
            <option name="15" value="2">Rounded, Large open nostrils</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Teeth and gums</b></label>
          <p>0. Irregular, protruding teeth, Receding gums</p>
          <p>1. Medium sized teeth, Reddish gum</p>
          <p>2. Big, white, strong teeth, Hearty gums</p>
          <input name="16",  placeholder="16. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="16" value="0">Irregular, protruding teeth, Receding gums</option>
            <option name="16" value="1">Medium sized teeth, Reddish gums</option>
            <option name="16" value="2">Big, white, strong teeth, Hearty gums</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Lips</b></label>
          <p>0. Tight, thin, dry lips which chaps easily</p>
          <p>1. Lips are soft, medium-sized</p>
          <p>2. Lips are large, soft, pink & ful</p>
          <input name="17",  placeholder="17. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="17" value="0">Tight, thin, dry lips which chaps easily</option>
            <option name="17" value="1">Lips are soft, medium-sized</option>
            <option name="17" value="2">Lips are large, soft, pink & full</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Nails</b></label>
          <p>0. Dry, Rough, Brittle, Break Easily</p>
          <p>1. Sharp, Flexible, Pink, Lustrous</p>
          <p>2. Thick, Oily, Smooth, Polished</p>
          <input name="18",  placeholder="18. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="18" value="0">Dry, Rough, Brittle, Break Easily</option>
            <option name="18" value="1">Sharp, Flexible, Pink, Lustrous</option>
            <option name="18" value="2">Thick, Oily, Smooth, Polished</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Appetite</b></label>
          <p>0. Irregular, Scanty</p>
          <p>1. Strong, Unbearable</p>
          <p>2. Slow but Steady</p>
          <input name="19",  placeholder="19. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="19" value="0">Irregular, Scanty</option>
            <option name="19" value="1">Strong, Unbearable</option>
            <option name="19" value="2">Slow but Steady</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Liking tastes</b></label>
          <p>0. Sweet / Sour / Salty</p>
          <p>1. Sweet / Bitter / Astringent</p>
          <p>2. Pungent / Bitter /Astringent</p>
          <input name="20",  placeholder="20. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="20" value="0">Sweet / Sour / Salty</option>
            <option name="20" value="1">Sweet / Bitter / Astringent</option>
            <option name="20" value="2">Pungent / Bitter /Astringent</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Teeth and gums</b></label>
          <p>0. Irregular, protruding teeth, Receding gums</p>
          <p>1. Medium sized teeth, Reddish gums</p>
          <p>2. Big, white, strong teeth, Hearty gums</p>
          <input name="21",  placeholder="21. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="21" value="0">Irregular, protruding teeth, Receding gums</option>
            <option name="21" value="1">Medium sized teeth, Reddish gums</option>
            <option name="21" value="2">Big, white, strong teeth, Hearty gums</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>
        <div class="col-md-4 position-relative" style="padding-right: 3%; padding-left: 3%;">
          <label for="validationTooltip04" class="form-label"><b>Lips</b></label>
          <p>0. Tight, thin, dry lips which chaps easily</p>
          <p>1. Lips are soft, medium-sized</p>
          <p>2. Lips are large, soft, pink & full</p>
          <input name="22",  placeholder="22. Enter Option No...."></br></br>
          <!-- <select class="form-select" id="validationTooltip04" required>
            <option selected name="22" value="0">Tight, thin, dry lips which chaps easily</option>
            <option name="22" value="1">Lips are soft, medium-sized</option>
            <option name="22" value="2">Lips are large, soft, pink & full</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid option.
          </div> -->
        </div>

        <div class="col-12" style="padding-left: 45%; padding-right: 45%; padding-top: 3%; padding-bottom: 3%;">
          <button class="btn btn-primary" type="submit">prediction</button>
        </div>
      </form>
      
            
        <!-- <center>
            <b><p>Prakruti Prediction</p></b>
            <form method="POST", action='/predict'>
                <input name="1",  placeholder="1"></br></br>
                <input name="2", placeholder="2"></br></br>
                <input name="3", placeholder="3"></br></br>
                <input name="4", placeholder="4"></br></br>
                <input name="5", placeholder="5"></br></br>
                <input name="6", placeholder="6"></br></br>
                <input name="7", placeholder="7"></br></br>
                <input name="8", placeholder="8"></br></br>
                <input name="9", placeholder="9"></br></br>
                <input name="10", placeholder="10"></br></br>
                <input name="11", placeholder="11"></br></br>
                <input name="12", placeholder="12"></br></br>
                <input name="13", placeholder="13"></br></br>
                <input name="14", placeholder="14"></br></br>
                <input name="15", placeholder="15"></br></br>
                <input name="16", placeholder="16"></br></br>
                <input name="17", placeholder="17"></br></br>
                <input name="18", placeholder="18"></br></br>
                <input name="19", placeholder="19"></br></br>
                <input name="20", placeholder="20"></br></br>
                <input name="21", placeholder="21"></br></br>
                <input name="22", placeholder="22"></br></br>
                <button type="submit">prediction</button>
            </form> -->

        <!-- <center>
        </br></br>
        {{pred}}
        </center> -->

        <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #e3f2fd;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><b>© 2020 Copyright:</b>
    <a href="#"> PrakrutiPrediction.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>


    </body>
</html>